.square-dark {
    background: rgba(99, 77, 77, 0.6);
  }
  
  .square-light {
    background: #E3D3D3;
  }
  
  .square-highlighted {
    background: lightgreen;
  }
  
  .square-current {
    box-shadow: inset 0 0 0 3px darkblue;
  }

  .square-playable {
    outline: 3px solid rgb(23, 0, 128);
    outline-offset: -3px;
  }
