@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera&display=swap'); /* Title font import */

.main-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;                                                /* Align content towards the top */
  align-items: center;
  height: 100vh;                                                              /* Full viewport height */
  width: 100%;                                                                /* Full width */
  text-align: center;
  background: linear-gradient(100deg, #E3D3D3 18%, #553737 100%);         /* Background color */
  padding-top: 50px;                                                          /* Move content higher */
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px; /* Space between logo and title */
}

.icon {
  width: 220px;  /* Larger icon */
  height: 220px;
}

.title {
  font-family: 'Lexend Tera', sans-serif;
  font-size: 6em;  /* Large title */
  font-weight: bold;
  color: #000;
}

.menu-buttons {
  margin-top: 150px;      /* Increase space between the title and the button */
  display: flex;
  flex-direction: column;
  gap: 50px;              /* Gap prepared for other buttons */
}

button {
  padding: 15px 25px;
  font-size: 2.5em;
  font-weight: 700;
  color: black;
  background: linear-gradient(40deg, #553737 22%, #E3D3D3 84%);
  border: 5px solid black;
  border-radius: 45px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  background-color: #aaa;
}

.new-game-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background: linear-gradient(100deg, #E3D3D3 18%, #553737 100%);
  text-align: center;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 1.5em;
  background-color: transparent;
  border: 5px solid black;
  border-radius: 45px;
  cursor: pointer;
  color: black;
}

.menu-container {
  display: flex;
  flex-direction: column;
  gap: 60px; /* Space between items */
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 30px; /* Space between icon and button */
}

.icon {
  width: 170px;
  height: 170px;
}

.main-menu .menu-buttons:nth-of-type(2) {
  margin-top: -10px; 
}

.menu-buttons {
  margin: 5px 0; 
}

.main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; 
}