/* 
    File: TutorialBoard.css
    Author: xtesar44
*/

.board-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

.tutorial1 {
    font-family: 'Lexend Tera', sans-serif;
    font-size: 14px;
    justify-content: center; 
    align-items: center; 
    display: flex;
    background: linear-gradient(100deg, #E3D3D3 18%, #553737 100%); 
    min-height: 100%;
    min-width: 100%;
}

.tutorial1 .board-container {
    display: center;
    flex-direction: row; 
    margin-left: 100px;
}

.tutorial1 .description-container {
    background-color: rgb(222, 222, 222);
    width: 206px;
    height: 620px;
    border-radius: 5px;
    
    margin-right: 150px;
    resize: both;
    text-align: justify;
    color: black;
    padding: 10px;
}