.challenge-item-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    
}

.challenge-item {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #c9c2c2;
    border-radius: 10px;  
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    border: 5px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.challenge-info {
    flex: 2;
    text-align: center;
}

.challenge-name {
    font-size: 30px;
    font-family: 'Lexend Tera', sans-serif;
    font-weight: bold;
    color:black;
}

.challenge-menu h2 {
    color: black; 
    font-size: 36px;  
    font-weight: bold;  
    margin-bottom: 5px;  
}


.challenge-menu {
    background: linear-gradient(100deg, #E3D3D3 18%, #553737 100%);
    padding: 50px;
    min-height: 100vh;
    align-items: center;
}

.menu-center {
    flex: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
}


.challenge-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}